@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #f9fafb; /* bg-gray-50 */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  background: #f9fafb;
}

input, select, textarea {
  background-color: #ffffff !important;
  color: #000000 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
